@tailwind base;
@tailwind components;
@tailwind utilities;

/* Hide scrollbar for WebKit browsers */
.scrollbar-hidden::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge, and Firefox */
.scrollbar-hidden {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

/* Ensure the header is positioned on top */
header {
    position: relative; /* Allows content to appear below */
    z-index: 10; /* Ensure it's above the image */
  }
  
  /* Remove margins for full image coverage */
  body,
  html {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
  }

/* Add your custom font classes */
.font-ibarra {
  font-family: 'Ibarra', serif; /* Use the Ibarra font family */
}

@media (max-width: 1024px) {
  .font-ibarra {
    font-family: initial; /* Fallback to default font on small screens */
  }
}