@tailwind base;
@tailwind components;
@tailwind utilities;

/* Hide scrollbar for WebKit browsers */
.scrollbar-hidden::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge, and Firefox */
.scrollbar-hidden {
  -ms-overflow-style: none;
  scrollbar-width: none;
}
